html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E8E5E0;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #C3E2E5;
    padding: 20px 20px 0px;
}

.menu ul {
    padding: 0px;
}

.menu li {
    list-style-type: none;
    margin: 24px;
    padding: 0px;
}


.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}

.header img {
    max-width: 1033px;
    object-fit: cover;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #298A91;
    min-height: 150px;
    padding: 32px;
    color: #FFF;
}

